@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus { text-decoration: underline }
/* LAYOUT Website */
#layout {
    padding-left: 25%;
    position: relative;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    background: url(http://31.media.tumblr.com/24cebdffbffb91bac8191efbce11a6b1/tumblr_mrno6dxPrk1sfie3io1_1280.jpg)no-repeat center center;
    background-size: cover;
    /*    text-shadow: 0 0 10px rgba(0,0,0,.4),1px 1px 6px rgba(0,0,0,.4);*/
    color: #fff;
}
.header {
    text-align: left;
    display: block;
    width: 100%;
    margin: 0em;
    height: 12em;
    background: #2c3e50;
    padding: .6em;
}
.brand-title,
.brand-tagline { margin: 0 }
.brand-title { text-transform: uppercase; font-weight: 500 }
.brand-title span { color: #1abc9c }
.brand-tagline {
    font-weight: 300;
    color: #1abc9c;
}
.brand-tagline span { color: #fff }
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 1em;
    margin-right: 1em;
}
.right .nav-item { float: right }
.nav-item a {
    background: transparent;
    border: 3px solid #1abc9c;
    color: #fff;
    margin-top: 1em;
    padding: .3em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid #1abc9c;
    color: #1abc9c;
    text-decoration: none;
}
.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.content { padding: 2em 3em 0 }
.ct-block {
    width: 100%;
    min-height: 2%;
    padding: 1em;
    margin: 1em auto;
    background: #34495e;
    overflow: hidden;
}
.ct-block .title-entry {
    color: #fff;
    font-weight: 300;
}
.ct-block:hover .title-entry { color: #1abc9c }
.ct-block span[class*="fontawesome"] {
    float: right;
    display: block;
    width: 15%;
    position: relative;
    height: 5.4em;
    margin: -4.3em -1em;
    text-align: center;
    line-height: 5;
    font-size: 1.3em;
    background: #2c3e50;
}
.ct-block  a { color: #1abc9c }

.ct-block section{
width:104%;
display:block;
background:#ecf0f1;
padding:1em 2em;
margin:2.8em -1em -2.5em;
transition:all .6s ease;}
.ct-block section ul.left{
    display: block;
    float: left;
    width: 50%;
    height: 480px
}
.ct-block section h1.demo-title{
font-weight:300;
color:#1abc9c;}
.ct-block section.closed{height:0 !important;transition:all .6s ease;overflow: hidden;}
.ct-block section.open{height:auto;min-height: 2em;padding-bottom: 3em;}
.footer {
    background: #2c3e50;
    color: #666;
    text-align: center;
    font-size: 80%;
    position: absolute;
    bottom: 0;
    width: 75%;
    margin: -3.8em;
    padding: 0em;
    height: 5em;
    bottom: 0;
    margin-bottom: -6em;
}
.footer ul {
    padding: 0;
    list-style: none;
    width: 40%;
    margin: 2em auto;
}
.footer ul li { display: inline-block }
.footer ul li a {
    background: transparent;
    border: 3px solid #1abc9c;
    color: #fff;
    margin-top: 1em;
    padding: .3em;
}

/* DEMO PAGE GRID SYSTEM */

.g-1-1{
    width: 100%
}
.g-1-2{
    width:50%;
}
.g-1-3{
    width:30%;
}

.list_blocks li{
    display: block;
    margin: .6em auto 0
}
/**/

@media (max-width: 767px) { 
    .sidebar,
    .footer {
        width: 100%;
        position: relative;
        margin: 0;
    }
    .sidebar { height: 13em }
    .footer {
        position: absolute;
        margin: -3.8em -1.2em -6em;
    }
    .header {
        text-align: center;
        top: auto;
        height: 13em;
        margin: 0 auto;
        position: static;
    }
    .header .nav-item a,
    .header .nav-item {
        display: block;
        float: left;
        width: 100%;
        margin: .4em auto 0;
    }
    #layout { padding: 0 }
}
@media (max-width: 480px) { 
    .content { padding: 2em 1em 0 }
}